{% extends 'base.html' %}

{% block title %}Додати/Редагувати датчик{% endblock %}

{% block content %}
    <h2>{% if object %}Редагування{% else %}Додавання{% endif %} датчика</h2>
    <div class="card">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div style="margin-top: 1rem;">
                <button type="submit" class="btn btn-success">Зберегти</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn">Скасувати</a>
            </div>
        </form>
    </div>
{% endblock %}
